@model ASETEXTILAssociation.ViewModels.CTVModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Credit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditTypes"></label>
                <select asp-for="CreditTypeId" asp-items="@Model.CreditTypes" class="form-control">
                    <option value="">Credit Type</option>
                </select>
                @* <span asp-validation-for="CreditTypeId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="MonthTerm" class="control-label"></label>
                <input asp-for="MonthTerm" class="form-control" readonly/>
                <span asp-validation-for="MonthTerm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Interest" class="control-label"></label>
                <input asp-for="Interest" class="form-control" readonly />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
